@model Exam.Models.Student

@{
    ViewBag.Title = "Удалить";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h3>Вы уверены, что хотите удалить данные?</h3>
<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Faculty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Faculty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Group)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Group)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Value_ThermalPhysics)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Value_ThermalPhysics)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Value_Fluid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Value_Fluid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Value_Turbine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Value_Turbine)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Value_Cryogenic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Value_Cryogenic)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Вернуться в список", "Index")
        </div>
    }
</div>
